.idCard {
  padding-top:25%;
  display: flex;
  justify-content: space-evenly;

  button{
    background-color: black;
    color: white;
    font-size: 18px;
    border-color: red;
    border-width: 4px;
  }
}

@media screen and (max-width:1328px) {
  .container {
    padding:68px 2% 0 180px;
  }
}