.sideBar {
  float:left;
  background-color: black;
  width:117px;
  height:100vh;
  min-height:1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;

  ::after {
    content: "";
    display: block;
    clear: both;
    background-color: black;
  }

  .copyright{
    color:white;
    transform:rotate(-90deg);
    white-space:nowrap; 
    font-size: 12px; 
  }

  .icon{
    width:64px;
    height:64px;
    border-radius: 10%;
    background-size: cover;
    margin-bottom: 38px;
  }

  #iconYoga {
    background:url("../Media/iconYoga.svg");
  }
  
  #iconSwim {
    background:url("../Media/iconSwim.svg");
  }
  
  #iconBike {
    background:url("../Media/iconBike.svg");
  }
  
  #iconDumbbell {
    background:url("../Media/iconDumbbell.svg");
  }
} 